include ../mixins/mixin
block config
  include variables
doctype html
html(lang="en")
  head
    title= pageTitle
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
    meta(name="twitter:card" content="summary_large_image")
    meta(name="MobileOptimized" content="width")
    meta(name="HandheldFriendly" content="true")
    meta(name="keywords" content=keywords)
    meta(name="twitter:site" content=twitterAccount)
    meta(property="og:image:width" content="1200" )
    meta(property="og:image:height" content="630" )
    meta(property="og:title" content=pageTitle)
    meta(property="og:description" content=pageDescription)
    meta(property="og:image" content=pageImage)
    link(rel="stylesheet" href="assets/fonts/stylesheet.css")
    //link(rel="stylesheet" href="assets/css/owl.carousel.min.css")
    //link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
    link(rel="stylesheet" href="assets/css/owl.theme.default.min.css")
    link(rel="stylesheet" href="css/styles.css")
    link(rel="shortcut icon" href="img/favicon.png")
    script(src="assets/js/jquery.min.js")
    script(src="assets/js/jquery.nicescroll.min.js")
    //script(type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
    //script(src="assets/js/owl.carousel.js")
  body
    include ../includes/header
    main.main#main
      include ../includes/layer
      block main
    include ../includes/footer
    .modal.modal-loading#modalLoading
      .modal__container
        h1 Destiladora Agave Azul
        img(src="img/Ellipsis.svg" alt="loading").modal-loading__img
        img(src="img/logo-alt.svg" alt="Logo").modal-loading__logo
    //--script.
        $('.owl-carousel').slick({
            centerMode: true,
            centerPadding: '60px',
            slidesToShow: 3,
            responsive: [
                {
                    breakpoint: 768,
                    settings: {
                        arrows: true,
                        centerMode: false,
                        centerPadding: '0',
                        slidesToShow: 4
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        arrows: false,
                        centerMode: true,
                        centerPadding: '40px',
                        slidesToShow: 1
                    }
                }
            ]
        });
    script(src="js/scripts-min.js")


